@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  border-radius: 72px 72px 72px 70px;
-webkit-border-radius: 72px 72px 72px 70px;
-moz-border-radius: 72px 72px 72px 70px;
border: 11px solid #aa50ff;
padding: 22px;
display: grid;
justify-content: center;
} */



.read-the-docs {
  color: #888;
}

.card-red {
  padding: 2em;
  background-color: red;
}

.card-style {
  padding: 2em;
  font-family: 'Pixelify Sans', cursive;
  font-size: 22px;
  background-color: violet;
  border: 22px solid blueviolet;
}

h1 {
  font-family: 'Pixelify Sans', cursive;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
